<%- include('./includes/prepend.ejs') %>
<main>
  <section class="not-found__container">
    <h2>Got lost?</h2>
    <p>Let's go to <a href="/">the issues list</a>!</p>
  </section>
</main>
<%- include('./includes/postpend.ejs') %>
